@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}

<h1 style="text-align:center;color:grey;margin-top:40px;font-family:Bahnschrift;font-size:30px">Đăng nhập</h1>
<div class="site-section bg-light">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" translate="yes"></label>
                    <input asp-for="Input.Email" class="form-control" autofocus/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
                <div class="form-group">
                    @*<p>
            <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
        </p>*@
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký mới</a>
                    </p>
                    <p>
                        <a href="#fastRegisterModal" data-toggle="modal">Đăng ký nhanh!</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>
<div class="modal fade" id="fastRegisterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đăng ký nhanh tài khoản</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Chúng tôi sẽ cung cấp cho bạn một tài khoản, bạn có thể bảo mật nó bằng cách đổi mật khẩu.</p>
                <p>Chúng tôi sẽ không thông báo trước việc khóa tài khoản của này nếu nó vi phạm điều khoản.</p>
            </div>
            <div class="modal-footer">
            <a asp-controller="AccountBuilder" asp-action="CreateReaderAccount"  class="btn btn-success">Xác nhận</a>
            </div>
        </div>
        
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
