@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}
<div class="responsive_tabs_agileits">
    <div id="horizontalTab">

        <div class="resp-tabs-container">
            <!--/tab_one-->
            <div class="tab1">

                <div class="single_page_agile_its_w3ls">
                    <div class="site-section bg-light row">
                        <div class="col-md-4">
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                                <h4>Đăng ký tài khoản</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Input.Displayname" placeholder="Tài khoản" class="form-control" autofocus />
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Fullname" placeholder="Họ và tên" class="form-control" autocomplete="off"/>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Address" placeholder="Địa chỉ" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Email" placeholder="Địa chỉ email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Password" placeholder="Mật khẩu" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.ConfirmPassword" placeholder="Xác nhận mật khẩu" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Ảnh đại diện</label>
                                    <input type="file" name="files" class="form-control">
                                </div>
                                @if (User.IsInRole(ThuVienDienTu.Utility.SD.ADMIN_ROLE))
                                {
                                    <div class="form-group">
                                        <label>Tài khoản admin</label>
                                        <input asp-for="Input.IsAdmin" class="form-control" type="checkbox" />
                                    </div>
                                    <div class="form-group">
                                        <label>Tài khoản thủ thư</label>
                                        <input asp-for="Input.IsLibrarian" class="form-control" type="checkbox" />
                                    </div>
                                    <div class="form-group">
                                        <label>Tài khoản kiểm duyệt</label>
                                        <input asp-for="Input.IsCensor" class="form-control" type="checkbox" />
                                    </div>
                                }
                                <button type="submit" class="btn btn-primary">Đăng ký</button>
                            </form>
                            <div class="form-group">
                                <a href="#fastRegisterModal" data-toggle="modal">Đăng ký nhanh!</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-2">

                            @*<section>
                                    <h4>Use another service to register.</h4>
                                    <hr />
                                    @{
                                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                        {
                                            <div>
                                                <p>
                                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                                    for details on setting up this ASP.NET application to support logging in via external services.
                                                </p>
                                            </div>
                                        }
                                        else
                                        {
                                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in Model.ExternalLogins)
                                                        {
                                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        }
                                    }
                                </section>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fastRegisterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đăng ký nhanh tài khoản</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Chúng tôi sẽ cung cấp cho bạn một tài khoản, bạn có thể bảo mật nó bằng cách đổi mật khẩu.</p>
                <p>Chúng tôi sẽ không thông báo trước việc khóa tài khoản của này nếu nó vi phạm điều khoản.</p>
            </div>
            <div class="modal-footer">
                <a asp-action="CreateReaderAccount" asp-controller="AccountBuilder" asp-area="Identity" class="btn btn-success">Xác nhận</a>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
