@model ThuVienDienTu.Models.ViewModels.BooksViewModel
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="text-info"> Sách/ truyện của bạn</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Mua thêm sách</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.BookName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Author.Signed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Publisher.PublisherName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Books)
                {
                    <tr style="height:200px">
                        <td style="text-overflow: ellipsis" title="@item.BookName">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@item.BookName</a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Index" asp-route-timkiem="@item.Author.Signed">@item.Author.Signed</a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Index" asp-route-timkiem="@item.Publisher.PublisherName">@item.Publisher.PublisherName</a>
                        </td>
                        <td >
                            <p style="overflow-y:hidden;width:400px;height:200px" title="@item.Description">@item.Description</p>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a type="button" class="btn btn-primary" asp-area="Customer" asp-controller="ReviewAndComment" asp-action="Index" asp-route-id="@item.Id"><i class="far fa-plus-square"></i></a>
                                <a type="button" class="btn btn-success" asp-area="Customer" asp-action="Index" asp-controller="Read" asp-route-id="@item.Id"><i class="fas fa-book-reader"></i> </a>
                                <a type="button" class="btn btn-info" asp-area="Customer" asp-action="Details" asp-controller="Home" asp-route-id="@item.Id"><i class="far fa-list-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>