@model ThuVienDienTu.Models.ViewModels.BooksViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<body>
    <div class="site-section bg-light" id="theme">
        <div class="container">

            @if (Model.BuyRequest == null)
            {
                <div style="text-align:center !important">
                    @if (Model.Chapters.Count > 0)
                    {


                        <div style="text-align:left !important">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a> @*<span>
                                / <a asp-area="Customer" asp-controller="Home" asp-action="GenresBook" asp-route-id="@Model.Genres[0].Id">@Model.Genres[0].GenresName</a></span>*@<span> / <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Chapters[0].Book.Id">@Model.Chapters[0].Book.BookName</a></span>
                                <span style="color:black !important"> / @Model.Chapter.Chaptername</span>
                            </div>
                            <div class="row">
                                <input style="border-radius: unset" class="col-4 form-control" type="checkbox" checked data-toggle="toggle" data-onstyle="dark" onchange="ChangeTheme()" autofocus>
                                <div class="col-2"></div>
                                <form class="col-6" asp-action="ReadingChapter" asp-controller="Read" asp-area="Customer" method="get" style="margin-top:10px">
                                    <select name="id" onchange="this.form.submit()">
                                        <option>Chương</option>
                                        @foreach (var chapter in Model.Chapters)
                                        {
                                            <option value="@chapter.Id">@chapter.Chaptername</option>
                                        }
                                    </select>
                                </form>
                            </div>

                            <form asp-area="Admin" asp-controller="Chapters" asp-action="CensorEdit" method="post">
                                <hr />
                                @if (!User.IsInRole(ThuVienDienTu.Utility.SD.CENSOR_ROLE))
                                {
                                    <textarea disabled style="width:1110px;height:460px;resize:none;border:none;box-shadow:none;background-color:hsl(40,60%,95%)">@Model.Chapter.ChapterContent</textarea>
                                }
                                else
                                {
                                    <input hidden asp-for="@Model.Chapter.Id" />
                                    <input hidden asp-for="@Model.Chapter.BookId" />
                                    <textarea asp-for="@Model.Chapter.ChapterContent" style="width:1110px;height:460px;resize:none;border:none;box-shadow:none;background-color:hsl(40,60%,95%)"></textarea>
                                }

                                <div style="text-align:center!important;display:block">

                                    <a asp-area="Customer" asp-controller="Read" asp-action="DecreaseIndex" asp-route-id="@Model.Chapter.BookId" class="btn btn-secondary btn-lg"><i class="far fa-caret-square-left"></i> Chương trước</a>
                                    @if (User.IsInRole(ThuVienDienTu.Utility.SD.CENSOR_ROLE))
                                    {
                                        <button type="submit" class="btn btn-success">Lưu</button>
                                    }
                                    <a asp-area="Customer" asp-controller="Read" asp-action="IncreaseIndex" asp-route-id="@Model.Chapter.BookId" class="btn btn-primary btn-lg">Chương tiếp <i class="far fa-caret-square-right"></i></a>

                                </div>
                            </form>
                            @if (User.IsInRole(ThuVienDienTu.Utility.SD.CENSOR_ROLE))
                            {
                                <div style="text-align:center!important">
                                    <a asp-area="Admin" asp-controller="Censor" asp-action="ChapterApprove" asp-route-id="@Model.Chapter.Id" class="btn btn-success btn-lg">Phê duyệt</a>
                                </div>
                            }
                        }

                        else
                        {
                            @if (User.IsInRole(ThuVienDienTu.Utility.SD.CENSOR_ROLE))
                            {
                                <div style="text-align:center !important">
                                    <p style="text-align:center !important" class="text-warning">Sách chưa được thêm chương</p>

                                </div>
                            }
                            else
                            {
                                <div style="text-align:center !important">
                                    <p style="text-align:center !important" class="text-warning">Sách hiện chưa có chương hoặc là sách trả phí</p>

                                </div>
                            }

                        }
                </div>
            }
            else
            {
                var tenPercent = (int)Math.Round(Model.Chapter.ChapterContent.Length * 0.1,MidpointRounding.AwayFromZero);
                var sample = Model.Chapter.ChapterContent.Substring(0, tenPercent);
                <div style="text-align:center!important">
                    <textarea disabled style="width:1110px;height:300px;resize:none;border:none;box-shadow:none;background-color:hsl(40,60%,95%)">@sample</textarea>
                    <p class="text-warning">@Model.BuyRequest</p>
                    <br />
                    <a class="btn btn-primary" asp-area="Customer" asp-controller="Read" asp-action="BuyChapter" asp-route-chapterId="@Model.Chapter.Id">Mua ngay</a>
                </div>
            }
        </div>
    </div>
    <script>
        var count = 0;
        function ChangeTheme() {
            count++;
            if (count == 1) {
                document.getElementById('theme').style.setProperty("background-color", "rgb(123,137,147)", "important");
            }
            if (count == 2) {
                count = 0;
                document.getElementById('theme').style.removeProperty("background-color", "rgb(123,137,147)", "important");
            }
        }
    </script>
</body>




