@model ThuVienDienTu.Models.ViewModels.CountryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/CMS/_CMS.cshtml";
}

<br />
<br />
<body>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Danh sách quốc gia</h2>
            <h4 class="text-info">Tổng số: @Model.Total</h4>
        </div>
        <div class="col-6 text-right">
            <a href="#addCountryModal" data-toggle="modal" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Thêm quốc gia</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Country.CountryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Countries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a type="button" class="btn btn-primary" asp-action="Edit" asp-controller="Countries" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                            <a type="button" class="btn btn-success" asp-action="Details" asp-controller="Countries" asp-route-id="@item.Id"><i class="far fa-list-alt"></i></a>
                            <a id="@item.Id" type="button" class="btn btn-danger" href="#deleteCountryModal" data-toggle="modal" onclick="DeleteUser(this.id)"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div id="addCountryModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Create">
                    <div class="modal-header">
                        <h4 class="modal-title">Add quốc gia</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Country.CountryName" class="control-label"></label>
                            <input asp-for="Country.CountryName" class="form-control" />
                            <span asp-validation-for="Country.CountryName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Thêm quốc gia">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteCountryModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Delete" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Xoá quốc gia</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc muốn xoá quốc gia này </p>
                        <p class="text-warning"><small>Không thể hoàn tác.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Trở về">
                        <input type="hidden" name="countryid" id="countryid" />
                        <input type="submit" class="btn btn-danger" value="Xoá">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function DeleteUser(id) {
            document.getElementById("countryid").value = id;
        }
    </script>
</body>
